<ol class="blog-list">
 
    {{#each blogs as |blog|}}
  <li>
    {{!-- {{< blog-info blogs}} --}}
    <article class="blog">
      <div class="title-blog">
        <h2>{{title}}</h2>
        <p>{{blog_text}}</p>
      </div>

      <div class="meta">
        by {{user.username}} on
        {{created_at}}
        |
        <a href="/blog/{{id}}">comment here</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>